<ion-header>
  <ion-toolbar color="light">
    <ion-searchbar
      [placeholder]="'Address...'"
      [(ngModel)]="address"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="isLoading" (click)="fetchData()"
        ><span *ngIf="!isLoading">SEARCH</span>
        <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="note">
    <ion-label>5min design</ion-label>
  </div>
  <div class="dashboard-wrapper">
    <div class="basic-info">
      <div class="heading">Basic info</div>
      <ion-grid>
        <ion-row class="item">
          <ion-col size="3"> Contract: </ion-col>
          <ion-col size="9"> {{ contract }} </ion-col>
        </ion-row>
        <ion-row class="item">
          <ion-col size="3"> Balance: </ion-col>
          <ion-col size="9">
            {{ balance | currency: ' '}} <span *ngIf="balance >= 0">ETH</span>
          </ion-col>
        </ion-row>
        <ion-row class="item">
          <ion-col size="3"> Value: </ion-col>
          <ion-col size="9"> {{ value | currency: '$' }} </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="transactions">
      <div class="heading">Transactions</div>
      <p *ngIf="!transactionsLoaded" class="alert">No transactions</p>
      <ion-grid *ngIf="transactionsLoaded">
        <ion-row class="header">
          <ion-col class="item"></ion-col>
          <ion-col class="item" size="2"> hash </ion-col>
          <ion-col class="item" size="1"> blockNum </ion-col>
          <ion-col class="item" size="1"> date </ion-col>
          <ion-col class="item" size="2"> from </ion-col>
          <ion-col class="item" size="2"> to </ion-col>
          <ion-col class="item" size="2"> value </ion-col>
          <ion-col class="item" size="1"> txnFee </ion-col>
        </ion-row>
        <ion-row class="row" *ngFor="let t of transactions">
          <ion-col class="item" size="1"
            ><app-indicator [mode]="getMode(t)"></app-indicator
          ></ion-col>
          <ion-col class="item hoverable" size="2" [title]="t.hash">
            {{ t.hash | truncate: 20 }}
          </ion-col>
          <ion-col class="item" size="1"> {{ t.blockNumber }} </ion-col>
          <ion-col class="item" size="1">
            {{ getDate(t.timeStamp) | date: 'yyyy/MM/dd' }}
          </ion-col>
          <ion-col class="item hoverable" size="2" [title]="t.from">
            {{ t.from | truncate: 20 }}
          </ion-col>
          <ion-col class="item hoverable" size="2" [title]="t.to">
            {{ t.to | truncate: 20 }}
          </ion-col>
          <ion-col class="item" size="2">
            {{ getValue(t.value) | number: '1.1-8' }} Ether
          </ion-col>
          <ion-col class="item" size="1">
            {{ getTxnFee(t) | number: '1.1-8'}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="btn-wrapper" *ngIf="transactionsLoaded">
      <ion-button (click)="fetchMoreData()" [disabled]="offsetLoading"
        ><ion-spinner *ngIf="offsetLoading"></ion-spinner
        ><span *ngIf="!offsetLoading">FETCH MORE</span></ion-button
      >
    </div>
  </div>
</ion-content>
