ion-header {
  ion-toolbar {
    --padding-start: 25%;
    --padding-end: 25%;

    ion-button {
      min-width: 65px;
    }
  }
}
ion-content {
  --padding-top: 5vh;
  --padding-start: 5vw;
  --padding-end: 5vw;

  display: flex;
  align-items: center;
  color: var(--black);

  .note {
    background-color: rgb(255, 203, 30);
    font-size: 20;
    font-weight: bold;
    opacity: 0.6;
    position: fixed;
    left: -150px;
    bottom: 0;
    transform: rotate(35deg);
    padding: 30px 160px;
  }

  .dashboard-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .heading {
      border-bottom: 2px solid var(--l-blue);
      font-size: 20px;
      font-weight: bold;
      padding: 5px 10px;
      width: 100%;
    }

    .basic-info {
      border: 2px solid var(--l-blue);
      font-size: 18px;
      align-items: center;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      width: 50%;
      ion-grid {
        padding: 0;
        margin: 0;
        width: 100%;

        ion-row {
          --margin-top: 0;
        }
      }

      .item {
        padding: 5px 10px;
        margin: 0 10px;
      }

      .item:first-of-type {
        margin-top: 5px;
      }

      .item:not(:last-of-type) {
        border-bottom: 1px solid var(--l-blue);
      }
    }

    .transactions {
      margin-top: 30px;
      border: 2px solid var(--l-blue);
      border-radius: 4px;

      .alert {
        color: rgb(85, 85, 85);
        text-align: center;
      }

      .header {
        background: var(--l-blue);
        font-weight: bold;
      }

      .hoverable {
        color: #3498db;
      }

      .hoverable:hover {
        color: #1d6fa5 !important;
      }
    }
  }

  .btn-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}
