.indicator {
  width: 32px;
  height: 22px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in {
  color: #02977e;
  background-color: rgba(0, 201, 167, 0.2);
}

.out {
  color: #b47d00;
  background-color: rgba(219, 154, 4, 0.2);
}

.hide {
  display: none;
}
